<div class='container-fluid'>
  <div class="row">
    <div class="col-sm-11 col-sm-1">
    <h1> Sign In </h1>
    </div>
  </div>
  <%= form_for(:user, :url => session_path(:user)) do |f| %>
    <div class="row">
      <div class="col-sm-11 col-sm-offset-1">
        <%= f.text_field :email, placeholder: "Login Email", size: 30 %>
        <%= f.password_field :password, placeholder: "Password", size: 30 %>
        <%= f.submit 'Sign in', class: 'btn btn-default btn-lg' %><br>
        <%= f.label :remember_me %><%= f.check_box :remember_me,  class: "field_checkbox" %>
      </div>
    </div>
  <% end %>

  <div class="row">
  <div class="col-sm-11 col-sm-1">
    <h1> Sign Up<span style="font-size:30px !important;"> for recipes you can eat.</span> </h1>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="row">
        <div class="col-sm-11 col-sm-offset-1">
          <%= f.text_field :name, placeholder: "Name", size:30 %>
          <%= f.email_field :email, placeholder:"Email", size:30 %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-11 col-sm-offset-1">
          <%= f.password_field :password, placeholder: "Password, Minimum 8 Characters",size: 30 %>
          <%= f.password_field :password_confirmation, placeholder: "Repeat Password", size:30 %>
          <%= f.submit "Sign up", class: 'btn btn-default btn-lg' %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 ">
          <% @allergies.each do |allergy| %>
            <%= check_box_tag "user[allergy_ids][]", allergy.id %>
           <div class="check_name"> <%= allergy.name %></div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>


